<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.flutlab.logcat">

    <queries>
        <package android:name="com.codegemz.flutlab.installer" />
        <intent>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent>
    </queries>
    <queries>
        <package android:name="io.flutlab.installer" />
        <intent>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent>
    </queries>
</manifest>
